<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Secret Club</title>
	</head>
	<body>
		<% if (user) { %>
		<form action="" method="post">
			<label for="club">To join the secret club, enter the club password:</label>
			<input type="password" name="password" />
			<label for="submit">Submit</label>
			<input type="submit" name="submit" />
		</form>
		<% } else { %>
			<%= "Please login" %>
			<% } %>
	</body>
</html>
