<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create User</title>
	</head>
	<body>
		<form action="" method="post">
			<label for="first_name">First Name:</label>
			<input type="text" name="first_name" />
			<label for="last_name">Last Name:</label>
			<input type="text" name="last_name" />
			<label for="email">Email:</label>
			<input type="text" name="email" />
			<label for="password">Password:</label>
			<input type="password" name="password" />
			<label for="password">Confirm Password:</label>
			<input type="password" name="confirmPassword" />
			<label for="admin">Admin</label>
			<input type="checkbox" name="admin" />
            <label for="submit">Submit</label>
			<input type="submit" name="submit" />
            
		</form>

        <% if (locals.errors) { %>
            <% for (let error of locals.errors) { %>
                <ul>
                <li><%= error.msg %></li>
            </ul>
            <% } %>
        <% } %>
	</body>
</html>
